//Colors
$color-primary-2: #3F4E4F;
$color-primary: #5a7272;
$color-primary-dark: #a08256;
$color-primary-light: #c8bc93;

$color-white: #fff;
$color-black: #000;

$color-grey-white: #f0f0f0;
$color-grey: #d1d1d1;
$color-grey-dark: #5a5a5a;
$color-grey-dark-2: #333;

$color-secondary-light: #82c6c5;
$color-secondary-dark: #306d71;

$color-tertiary-light: #97b19c;
$color-tertiary-dark: #445d4b;

//Sizes
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font
$deffault-font-size: 1.7rem;